<div class="container">
  <div class="title">
    <h1 class="mat-display-1">PictureMeThis</h1>
  </div>
  <div class="form" [formGroup]="pictureForm">
    Value: {{ pictureForm.value | json }}
    <div class="browse-button">
      <button mat-raised-button color="accent" type="button" onclick="document.getElementById('fileUpload').click()">Choose an image</button>
      <input id="fileUpload" formControlName="picture" type="file" style="display:none;">
    </div>
    <mat-form-field>
      <mat-select formControlName="style" placeholder="Choose an image style">
        <mat-option *ngFor="let style of styles" [value]="style">{{style}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="message" placeholder="Enter a message"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="font" placeholder="Choose a font">
        <mat-option *ngFor="let font of fonts" [value]="font">{{font}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="size" placeholder="Choose a font size">
        <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="submit-button">
      <button type="button" (click)="post()" [routerLink]="['/results']" mat-raised-button color="primary">Generate!</button>
    </div>
  </div>
</div>